@{
    ViewData["Title"] = "RPMS - ADD 2";
    Layout = "_ADD2Layout";
}

@*INI DASHBOARD PUNYA STAFF*@

<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a><img src="~/rpms/images/logo/logo1.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item ">
                        <a href="@Url.Content("~/add2")" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Main</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="@Url.Content("~/add2/ProjectPlotting")" class='sidebar-link'>
                            <i class="bi bi-file-earmark-medical-fill"></i>
                            <span>Plotting</span>
                        </a>
                    </li>
                    <li class="sidebar-item " type="button" data-bs-toggle="modal" data-bs-target=".modalChangePassword">
                        <a class='sidebar-link'>
                            <i class="bi bi-gear"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li class="sidebar-item " type="button">
                        <a class='sidebar-link' href="/login/Logout" method="get">
                            <i class="bi bi-door-open-fill"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    @*modal add participant*@
    <div class="modal fade text-left modalAddParticipant" id="modalAddParticipant" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">Add Participant</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @*disini form add partisipation*@
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="first-name-column">First Name</label>
                                                        <input type="text" id="first-name-column" class="form-control"
                                                               placeholder="First Name" name="fname-column">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="last-name-column">Last Name</label>
                                                        <input type="text" id="last-name-column" class="form-control"
                                                               placeholder="Last Name" name="lname-column">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email-id-column">Email</label>
                                                        <input type="email" id="email-id-column" class="form-control"
                                                               name="email-id-column" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="city-column">Gender</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                                   id="flexRadioDefault1">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                Pria
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                                   id="flexRadioDefault2" checked>
                                                            <label class="form-check-label" for="flexRadioDefault2">
                                                                Wanita
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country-floating">Phone Number</label>
                                                        <input type="text" id="country-floating" class="form-control"
                                                               name="country-floating" placeholder="PhoneNumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="birthdate">Birthdate</label>
                                                        <input type="date" id="birthdate" class="form-control"
                                                               name="birthdate" placeholder="dd/mm/yyyy">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="grade">Grade</label>
                                                        <input type="text" id="grade" class="form-control"
                                                               name="grade" placeholder="A">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group" id="blabla">
                                                        <label for="skills">Skills</label>
                                                        <select class="choices form-select multiple-remove" name="skills[]" onchange="update_div(this)"
                                                                multiple="multiple" id="skills">
                                                            <optgroup label="Skills">
                                                                <option value="1">PHP</option>
                                                                <option value="2">ASP.NET Core</option>
                                                                <option value="3">MySql</option>
                                                                <option value="4">Java</option>
                                                                <option value="5">JavaScript</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Submit</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    @*modal change password*@
    <div class="modal fade text-left modalChangePassword" id="modalChangePassword" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">
                        Change Password
                    </h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-8">
                        <div class="card">
                            <div class="card-body">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="email" id="email-id" class="form-control"
                                                       name="email-id" placeholder="Email">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Old Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="oldPassword" class="form-control"
                                                       name="oldPassword" placeholder="Old Password">
                                            </div>
                                            <div class="col-md-4">
                                                <label>New Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="newPassword" class="form-control"
                                                       name="newPassword" placeholder="New Password">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal" onclick="ChangePassword()">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Change Password</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last font-extrabold">
                        <h2>ADD 2 Area</h2>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item font-extrabold"><a>Hi, Staff</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
            </div>
            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h3>Participant Lists</h3>
                        <p>Recommended Participant Lists by Trainer</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped text-center" id="table1">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Grade</th>
                                    <th>Status</th>
                                    @*<th>Skill Detail</th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="card mt-3">
                    <div class="card-header">
                        <h3>Project Lists</h3>
                        <p>Uploaded Project Lists by Trainer</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table2">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Project Name</th>
                                    <th>Place</th>
                                    <th>PIC</th>
                                    <th>Detail Skill</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section>
                <div class="">
                    <div class="row">
                        <div class=" col-md-6">
                            <div class="card col-md-12">
                                <div class="card-header">
                                    <h4 class="card-title">Participant Status</h4>
                                </div>
                                <div class="card-body">
                                    @*Chart 1*@
                                    <div id="placement"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card col-md-12">
                                <div class="">
                                    <div class="card-header">
                                        <h4 class="card-title">Participant Grade</h4>
                                    </div>
                                    <div class="card-body">
                                        @*Chart 2*@
                                        <div id="grading" class="grading"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    @*modal skill set*@
    <!-- Modal -->
    <div class="modal fade" id="cobaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Participant Skill Set</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Skills</div>
                        <div class="col-1">:</div>
                        <div class="col font-weight-bold skill" id="skill"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-danger"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

    @section Scripts {
        <script type="text/javascript" src="~/js/add2.js"></script>
    }
