@{
    ViewData["Title"] = "RPMS - Landing Page";
    Layout = "_LandingPageLayout";
}

@*INI INDEX PUNYA LANDING PAGE*@

<div id="app">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <div class="container">
                <a class="navbar-brand me-auto" href="index.html">
                    <img src="~/rpms/images/logo/logo1.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary block font-extrabold"
                                    data-bs-toggle="modal" data-bs-target=".example-modal-lg">
                                Login
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <section class="hero">
            <div class="row">
                <div class="">
                    <h1 class='pt-5'>Resource Placement<br> Management System</h1>
                    <p class='fs-5 mt-3'>Suit your resource, and Put them in the right Place</p>
                    <button type="button" class="btn btn-primary block font-extrabold mb-3"
                            data-bs-toggle="modal" data-bs-target=".example4">
                        Register
                    </button>
                </div>
                <div class="col-lg-6 col-12 order-1 order-md-2">
                    <img src="~/landingpage/images/hero1.png" alt="Demo  Image">
                </div>
            </div>
        </section>
    </div>
</div>

<div class="modal fade example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Login
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#">
                <div class="modal-body">
                    <label>Email: </label>
                    <div class="form-group">
                        <input type="text" placeholder="Email Address"
                               class="form-control">
                    </div>
                    <label>Password: </label>
                    <div class="form-group">
                        <input type="password" placeholder="Password"
                               class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">login</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-left example4" id="large" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel17">Register</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="staff-tab" data-bs-toggle="tab" href="#staff"
                                       role="tab" aria-controls="staff" aria-selected="true">Staff</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="client-tab" data-bs-toggle="tab" href="#client"
                                       role="tab" aria-controls="client" aria-selected="false">Client</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="staff" role="tabpanel"
                                     aria-labelledby="staff-tab">
                                    <form method="post" id="insertData">
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mt-3">
                                                <label for="inputName1">NIK</label>
                                                <input type="text" class="form-control" id="nik" placeholder="NIK" required>
                                            </div>
                                            <div class="form-group col-md-12 mt-3">
                                                <label for="inputName1">First Name</label>
                                                <input type="text" class="form-control" id="firstName" placeholder="First Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputName1">Last Name</label>
                                                <input type="text" class="form-control" id="lastName" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputEmail">Email</label>
                                                <input type="text" class="form-control" id="emailem" placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inputPhone">Password</label>
                                                <input type="password" class="form-control" id="password" placeholder="Min. 8 Characters"
                                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="submit" id="submitStaff" class="btn btn btn-success" data-dismiss="modal" onclick="ValidationEmployee()">Submit</button>
                                        <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                    </div>
                                </div>
                                @*client tab*@
                                <div class="tab-pane fade" id="client" role="tabpanel"
                                     aria-labelledby="client-tab">
                                    <form method="post" id="insertData">
                                        <div class="form-row">
                                            <div class="form-group col-md-12 mt-3">
                                                <label for="inputName1">First Name</label>
                                                <input type="text" class="form-control" id="fNameClient" placeholder="First Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputName1">Last Name</label>
                                                <input type="text" class="form-control" id="lNameClient" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputName1">Company Name</label>
                                                <input type="text" class="form-control" id="CName" placeholder="Company Name" required>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputEmail">Email</label>
                                                <input type="text" class="form-control" id="email" placeholder="Email" required>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label for="inputPhone">Password</label>
                                                <input type="password" class="form-control" id="pwd" placeholder="Min. 8 Characters"
                                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" id="submitClient" class="btn btn btn-success" data-dismiss="modal" onclick="ValidationClient()">Submit</button>
                                        <button type="button" class="btn btn-danger"
                                                data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">Close</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left example3" id="large" tabindex="-1" role="dialog" aria-labelledby="myModalLabel17" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">
                    Register
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script rel="javascript" type="text/javascript" src="~/js/landingpage.js"></script>
}