<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/rpms/css/bootstrap.css">

    <link rel="stylesheet" href="~/rpms/vendors/bootstrap-icons/bootstrap-icons.css">

    <link rel="stylesheet" href="~/rpms/css/app.css">
    <link rel="stylesheet" href="~/rpms/css/pages/auth.css">
</head>


<body>
    
        @RenderBody()
    

    <script src="~/rpms/js/bootstrap.min.js"></script>
    <script src="~/rpms/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



