@{
    ViewData["Title"] = "RPMS - Client";
    Layout = "_ClientLayout";
}

@*INI DASHBOARD PUNYA CLIENT*@

<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a><img src="~/rpms/images/logo/logo1.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item ">
                        <a href="@Url.Content("~/Eksternal/Dashboard")" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Main</span>
                        </a>
                    </li>
                    <li class="sidebar-item" type="button" data-bs-toggle="modal" data-bs-target=".modalAddParticipant">
                        <a class='sidebar-link'>
                            <i class="bi bi-plus-circle"></i>
                            <span>Add Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item " type="button" data-bs-toggle="modal" data-bs-target=".modalChangePassword">
                        <a class='sidebar-link'>
                            <i class="bi bi-gear"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li class="sidebar-item " type="button">
                        <a class='sidebar-link' href="/login/Logout" method="get">
                            <i class="bi bi-door-open-fill"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    @*modal add project*@
    <div class="modal fade text-left modalAddParticipant" id="modalAddParticipant" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">Add Project</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @*disini form add project*@
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form action="/client/addproject" method="post" class="form">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="projectName-column">Project Name</label>
                                                        <input type="text" id="ProjectName" class="form-control"
                                                               placeholder="Project Name" name="ProjectName">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="projectDesc-column">Project Description</label>
                                                        <textarea class="form-control" id="ProjectDesc"
                                                                  rows="3" name="ProjectDesc"></textarea>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6 mb-12">
                                                        <label for="skills">Company Name</label>
                                                        <div class="form-group">
                                                            <select class="form-select" id="custName">
                                                                <option selected>Choose...</option>
                                                                <option value="3">PT. Maju Jaya</option>
                                                                <option value="2">PT. Aman Barokah</option>
                                                            </select>
                                                        </div>
                                                    </div>*@
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="skills">Skills</label>
                                                        <select class="choices form-select multiple-remove"
                                                                multiple="multiple" id="skills" name="ListSkill">
                                                            <optgroup label="Skills">
                                                                <option value="1">PHP</option>
                                                                <option value="2">ASP.NET Core</option>
                                                                <option value="3">MySql</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer mb-24">
                                                <button type="button" class="btn btn-light-secondary"
                                                        data-bs-dismiss="modal">
                                                    <i class="bx bx-x d-block d-sm-none"></i>
                                                    <span class="d-none d-sm-block">Close</span>
                                                </button>
                                                <button type="submit" class="btn btn-primary ml-1">
                                                    <span>Submit</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success ml-1"
                            data-bs-dismiss="modal" onclick="">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Submit</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*modal change password*@
    <div class="modal fade text-left modalChangePassword" id="modalChangePassword" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">
                        Change Password
                    </h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-8">
                        <div class="card">
                            <div class="card-body">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="email" id="email-id" class="form-control"
                                                       name="email-id" placeholder="Email">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Old Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="oldPassword" class="form-control"
                                                       name="oldPassword" placeholder="Old Password">
                                            </div>
                                            <div class="col-md-4">
                                                <label>New Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="newPassword" class="form-control"
                                                       name="newPassword" placeholder="New Password">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal" onclick="ChangePassword()">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Change Password</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last mb-5 font-extrabold">
                        <h2>Client Area</h2>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item font-extrabold"><a>Hi, Client</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h3>Participant Lists</h3>
                        <p class="text-subtitle text-muted">Participant Lists Need Approval by Client</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Grade</th>
                                    <th>Birth Date</th>
                                    <th>Status</th>
                                    <th>Gender</th>
                                    <th>Grade</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h3>Project Lists</h3>
                        <p class="text-subtitle text-muted">List of Project from Client</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table2">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Description</th>
                                    @*<th>Action</th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    @*modal choose participant*@
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">Skills</div>
                        <div class="col-1">:</div>
                        <div class="col font-weight-bold skill"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form action="/client/ChooseParticipant/" method="post">
                        <button type="submit" class="btn btn-success ml-1" value="Approved" name="Status">
                            <span>Approved</span>
                        </button>
                    </form>
                    <form action="/client/ChooseParticipant/" method="post">
                        <button type="submit" class="btn btn-warning ml-1" value="Rejected" name="Status">
                            <span>Reject</span>
                        </button>
                    </form>
                    @*<button type="submit" id="statusReject" value="Rejected" class="btn btn-warning">Reject</button>
        <input id="someId" type="submit" name="Rejected" value="Rejected">*@
                    @*<button type="submit" id="statusSuccess" value="Approved" class="btn btn-success" onclick="">Accept</button>*@
                    @*<button type="submit" id="statusReject" value="Rejected" class="btn btn-warning" onclick="RejectParticipant()">Reject</button>*@
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript" src="~/js/client.js"></script>
}
