@{
    ViewData["Title"] = "RPMS - Client";
    Layout = "_InternalLayout";
}

@*INI DASHBOARD PUNYA CLIENT*@

<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a><img src="~/rpms/images/logo/logo1.png" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-item ">
                        <a href="@Url.Content("~/Eksternal/Dashboard")" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Main</span>
                        </a>
                    </li>
                    <li class="sidebar-item" type="button" data-bs-toggle="modal" data-bs-target=".modalAddParticipant">
                        <a class='sidebar-link'>
                            <i class="bi bi-plus-circle"></i>
                            <span>Add Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item" type="button" data-bs-toggle="modal" data-bs-target=".modalAddParticipant">
                        <a class='sidebar-link'>
                            <i class="bi bi-card-checklist"></i>
                            <span>List Project</span>
                        </a>
                    </li>
                    <li class="sidebar-item " type="button" data-bs-toggle="modal" data-bs-target=".modalChangePassword">
                        <a class='sidebar-link'>
                            <i class="bi bi-gear"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>

    @*modal add participant*@
    <div class="modal fade text-left modalAddParticipant" id="modalAddParticipant" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel17" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel17">Add Project</h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    @*disini form add project*@
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="projectName-column">Project Name</label>
                                                        <input type="text" id="projectName" class="form-control"
                                                               placeholder="Project Name" name="projectName-column">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="projectDesc-column">Project Description</label>
                                                        <textarea class="form-control" id="projectDesc"
                                                                  rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email-id-column">Client Name</label>
                                                        <input type="text" id="cust-column" class="form-control"
                                                               name="cust-column" placeholder="Client Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="skills">Skills</label>
                                                        <select class="choices form-select multiple-remove"
                                                                multiple="multiple">
                                                            <optgroup label="Figures">
                                                                <option value="romboid">Romboid</option>
                                                                <option value="trapeze" selected>Trapeze</option>
                                                                <option value="triangle">Triangle</option>
                                                                <option value="polygon">Polygon</option>
                                                            </optgroup>
                                                            <optgroup label="Colors">
                                                                <option value="red">Red</option>
                                                                <option value="green">Green</option>
                                                                <option value="blue" selected>Blue</option>
                                                                <option value="purple">Purple</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Submit</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*modal change password*@
    <div class="modal fade text-left modalChangePassword" id="modalChangePassword" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel18" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel18">
                        Change Password
                    </h4>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-8">
                        <div class="card">
                            <div class="card-body">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="email" id="email-id" class="form-control"
                                                       name="email-id" placeholder="Email">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Old Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="oldPassword" class="form-control"
                                                       name="oldPassword" placeholder="Old Password">
                                            </div>
                                            <div class="col-md-4">
                                                <label>New Password</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="password" id="newPassword" class="form-control"
                                                       name="newPassword" placeholder="New Password">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary ml-1"
                            data-bs-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Change Password</span>
                    </button>
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="main">
        <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
                <i class="bi bi-justify fs-3"></i>
            </a>
        </header>

        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last mb-5 font-extrabold">
                        <h2>Client Area</h2>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item font-extrabold"><a>Hi, Client</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
            </div>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h3>Participant Lists</h3>
                        <p class="text-subtitle text-muted">Participant Lists Need Approval by Client</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table1">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Grade</th>
                                    <th>Status</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h3>Project Lists</h3>
                        <p class="text-subtitle text-muted">List of Project from Client</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" id="table2">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Grade</th>
                                    <th>Status</th>
                                    <th>Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>
</div>

<script src="~/rpms/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/rpms/js/bootstrap.bundle.min.js"></script>

<script src="~/rpms/vendors/choices.js/choices.min.js"></script>

<script src="~/rpms/vendors/simple-datatables/simple-datatables.js"></script>

@section Scripts {
    <script type="text/javascript" src="~/js/employee.js"></script>
    <script type="text/javascript" src="~/rpms/js/main.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
}
